main form,
.form-input {
  display: flex;
  flex-direction: column;
}

main form {
  gap: 20px;
  align-items: center;
}

.form-input {
  max-width: 500px;
}

main form,
form div,
main input,
main textarea {
  width: 100%;
}

.error-input,
.valid-input,
.invalid-input {
  color: var(--gray);
}

.form-input {
  position: relative;
}

.valid-input,
.invalid-input {
  position: absolute;
  right: 0;
  padding-top: 25px;
}

.error-input,
.invalid-input,
.valid-input {
  display: none;
}
