@media screen and (min-width: 600px) {
  .recommended-recipes,
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .recommended-recipes h2 {
    grid-column: span 2;
  }

  .specific-recipe__section.ingredients {
    grid-column: span 1;
  }

  .specific-recipe__section.instructions {
    grid-column: span 3;
  }
}

@media screen and (min-width: 700px) {
  header {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .logo {
    flex-shrink: 0;
  }

  .menu-button {
    display: none;
  }

  nav {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: flex-end;
  }

  .menu {
    flex-direction: row;
  }

  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .recipes-nav {
    flex-direction: row;
  }

  footer,
  .newsletter-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  .specific-recipe__section.img,
  .specific-recipe__section.intro {
    grid-column: span 2;
    align-self: center;
  }

  .specific-recipe__section.img {
    order: 1;
  }

  .specific-recipe__section.intro {
    order: 2;
  }

  .comment-form form {
    flex-direction: row;
    gap: 0 20px;
    flex-wrap: wrap;
  }
  .comment-form textarea {
    height: 100%;
  }

  .comment-form__content,
  .comments,
  .comment-form__content .required {
    max-width: 900px;
  }
}

@media screen and (min-width: 900px) {
  .weekly-recipe {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1000px) {
  .about-container {
    flex-direction: row-reverse;
    margin-top: 50px;
  }

  .about-text h2 {
    text-align: left;
  }

  .recommended-recipes,
  .recipes-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .recommended-recipes h2 {
    grid-column: span 4;
  }

  .search {
    align-self: flex-end;
    position: absolute;
  }

  .recipes-nav {
    margin-top: 5px;
  }
}
