@media screen and (min-width: 600px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 700px) {
  header {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .logo {
    flex-shrink: 0;
  }

  .menu-button {
    display: none;
  }

  nav {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: flex-end;
  }

  .menu {
    flex-direction: row;
  }

  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .recipes-nav {
    flex-direction: row;
  }

  footer,
  .newsletter-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .weekly-recipe {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1000px) {
  .about-container {
    flex-direction: row;
    margin-top: 50px;
  }

  .recipes-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
