.recipes,
.recipes-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes {
  max-width: 1200px;
  margin: auto;
}

.recipes-nav {
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.more-recipes {
  max-width: 250px;
  margin-top: 30px;
  display: none;
}

.recipes-nav button:hover {
  font-weight: 700;
}

.search {
  align-self: center;
}

.search-submit {
  color: #fff;
  background-color: #000;
  padding-inline: 10px;
}

.hide-recipes {
  display: none;
}
